body{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #eaeaea;
    width: 90%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #383838;
    height: 50px;
}

.link{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 18px;
}

.detail{
    text-decoration: none;
    padding: 0 10px;
    font-size: 19px;
    color: white;
}

.list{
    padding: 0 250px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.form-control{
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.fail{
    color: red;
}

.send{
    border-radius: 5px;
    border: 2px solid #1d4d1d;
    padding: 5px 100px;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.fields_control{
    padding: 0 50px;
}

.foto{
    padding-bottom: 20px;
}

.block_animal{
    display: flex;
    flex-direction: column;
    padding: 0 50px 100px;
}

.active_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info_detail{
    display: flex;
    padding: 0 50px;
    flex-direction: row;
}

.main_info{
    display: flex;
    padding-right: 50px;
    flex-direction: column;
}

.comments{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.more_comments{
    margin: 50px 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer {
    display: flex;
    background: #383838;
    color: white;
    justify-content: center;
}